.navbar{
    box-sizing: border-box;
    /* padding: 30px; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: whitesmoke;
    width: 100vw;
    height: 70px;
    /* z-index: -1; */
    font-family: 'Open Sans', sans-serif;
 }
 .nav-left p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin: 20px;
 }
 .nav-right{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
 }
 .nav-right a{
    text-decoration: none;
    color: black;
    margin: 20px;
 }
 .form-container{
    display: flex;
    justify-content: space-evenly;
 }
 .money-img img{
    border-radius: 30px;
 }